.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-radius: 100px;
  margin: 10px;
}

.number {
  background: #212121;
  color: white;
}

.clear {
  background: #bdbdbd;
  color: black;
}

.operation {
  background: #e65100;
  color: white;
}

.expand {
  grid-column: 1/3;
}
